.ti {
    padding: 24px 48px;
    height: 100px;
}
.ti .container{
    padding-top: 16px;
    height: inherit;
    text-align: center;
    border: 1px solid black;
}

.ti .container .info{
    font-weight: bold;
    font-size: 24px;
}

.ti .error{
    color: red;
}